<!DOCTYPE html>
<html class="js" lang="en-US">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">   
      <link type="text/css" rel="stylesheet" href="../css_003.css">
      <link type="text/css" rel="stylesheet" href="../css.css">
      <meta charset="UTF-8">
      <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
      <!--[if IE ]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
      <link rel="profile" href="https://gmpg.org/xfn/11">
      <link rel="icon" href="../favicon.png" type="image/x-icon">
      <!--iOS/android/handheld specific -->
      <link rel="apple-touch-icon" href="../apple-touch-icon.png">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta itemprop="name" content="Alro Holdings">
      <meta itemprop="url" content="https://www.alroholdings.com">
      <title>Alro Holdings</title>
      <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace( /\bno-js\b/,'js' );</script>
      <link rel="dns-prefetch" href="https://s.w.org/">

      <style type="text/css">
         img.wp-smiley,
         img.emoji {
         display: inline !important;
         border: none !important;
         box-shadow: none !important;
         height: 1em !important;
         width: 1em !important;
         margin: 0 .07em !important;
         vertical-align: -0.1em !important;
         background: none !important;
         padding: 0 !important;
         }
      </style>
      <link rel="stylesheet" id="stylesheet-css" href="../style.css" type="text/css" media="all">
      <style id="stylesheet-inline-css" type="text/css">
         body {background-color:#ffffff; }
         body {background-image: url(../nobg.png );}
         .mts-main-header {background-color:#ffffff; }
         footer {background-color:#ffffff; }
         .postauthor h5, .single_post a, .textwidget a, #logo a, .pnavigation2 a, .copyrights a:hover, .related-posts a:hover, .reply a, .title a:hover, .post-info a:hover, .readMore a:hover, .fn a, a, a:hover, .contact-btn input[type='submit']:hover, .features_ic.fa, #move-to-top:hover, .fa-check, .mts-subscribe input[type='submit']:hover, .counter, .header-social a:hover, .mts-button:hover, #commentform input#submit:hover, .contactform #submit:hover, .sidebar.c-4-12 a:hover { color:#3498db; }
         .mts-button, #commentform input#submit, .contactform #submit, #searchform .fa-search, .tagcloud a:hover, #navigation ul .sfHover a, .pace .pace-progress, #mobile-menu-wrapper ul li a:hover, .team-thumb:after, #move-to-top, .logo-wrap, .mts-main-header:before, .mts-subscribe input[type='submit'], .contact-btn input[type='submit'], .footer-social a:hover, #navigation ul ul li, nav#navigation.mobile-menu-wrapper, .pagination a:hover, .pagination .nav-previous a:hover, .pagination .nav-next a:hover, .currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, #commentform input#submit, .contactform #submit { background-color:#3498db; color: #fff }
         .wp-subscribe-custom-css .submit { background-color:#3498db !important; border-color:#3498db !important; }
         .wp-subscribe-custom-css .submit:hover { background-color:#fff !important; color:#3498db !important; }
         .mts-button, .features_ic.fa, #move-to-top, .mts-subscribe input[type='submit'], .contact-btn input[type='submit'], .pagination a, .pagination .nav-previous a, .pagination .nav-next a, .currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, #commentform input#submit, .contactform #submit { border-color:#3498db; }
         .mask, .team-desc, .testimonials-authors li .mask, .hexagon { background-color: rgba(52,152,219,0.8); }
         .hexagon:before { border-bottom-color: rgba(52,152,219,0.8); }
         .shareit { top: 300px; left: auto; margin: 0 0 0 -100px; width: 90px; position: fixed; padding: 5px; border:none; border-right: 0;}
         .share-item {margin: 2px;}
         .bypostauthor {padding: 3%!important; background: #FAFAFA; width: 94%!important;}
         .bypostauthor:after { content: "Author"; position: absolute; right: -1px; top: -1px; padding: 1px 10px; background: #818181; color: #FFF; }
         .logo-wrap {
         height: auto;
         }
         .mts-main-header:before {
         background-color: transparent;
         }
         .logo-wrap {
         height: auto;
         background: transparent;
         }
         #logo.image-logo a {
         padding-bottom: 0px;
         padding-top: 10px;
         }
         section#intro{background-image: url(../slide.jpg );
         background-repeat: no-repeat;
         background-size: cover;
         background-position: bottom center;}section#services{background-image: url(  );}section#features{background-color:#ffffff;}section#features{background-image: url( ../nobg.png );}section#ourworks{background-color:#f8f8f8;}section#ourworks{background-image: url( ../nobg.png );}section#experience{background-color:#ffffff;}section#experience{background-image: url( ../nobg.png );}section#subscription{background-color:#ffffff;}section#subscription{background-image: url( ../nobg.png );}section#statistics{background-color:#ffffff;}section#statistics{background-image: url( ../nobg.png );}section#testimonials{background-color:#f8f8f8;}section#testimonials{background-image: url( ../nobg.png );}section#buttons{background-color:#ffffff;}section#buttons{background-image: url( ../nobg.png );}section#screenshot{background-color:#ffffff;}section#screenshot{background-image: url( ../nobg.png );}section#app-features, #app-features .services:hover{background-color:#ffffff;}section#app-features{background-image: url( ../nobg.png );}#app-features .services {background-color:#f8f8f8;}section#overview{background-color:#ffffff;}section#overview{background-image: url( ../nobg.png );}section#ourteam{background-color:#f8f8f8;}section#ourteam{background-image: url( ../nobg.png );}section#pricing{background-color:#f8f8f8;}section#pricing{background-image: url( ../nobg.png );}
      </style>
      <link rel="stylesheet" id="fontawesome-css" href="../font-awesome.min.css" type="text/css" media="all">
      <link rel="stylesheet" id="responsive-css" href="../responsive.css" type="text/css" media="all">
      <script type="text/javascript" src="../jquery.js"></script>
      <script type="text/javascript" src="../jquery-migrate.min.js"></script>
      <script type="text/javascript">
         /* <![CDATA[ */
         var mts_customscript = {"responsive":"1","nav_menu":"none"};
         /* ]]> */
      </script>
      <script type="text/javascript" src="../customscript.js"></script>

      <!--Theme by MyThemeShop.com-->
      <!--[if IE 7]>
      <link rel="stylesheet" href="https://www.alroholdings.com/wp-content/plugins/wp-review/assets/css/wp-review-ie7.css">
      <![endif]-->
      <link href="../css_002.css" rel="stylesheet" type="text/css">
      <style type="text/css">
         #logo a { font-family: 'Open Sans'; font-weight: 700; font-size: 28px; color: #ffffff; }
         .menu li, .menu li a { font-family: 'Open Sans'; font-weight: normal; font-size: 13px; color: #bababa; }
         p.app-intro { font-family: 'Open Sans'; font-weight: normal; font-size: 22px; color: #ffffff; }
         section h2 { font-family: 'Open Sans'; font-weight: 700; font-size: 25px; color: #555555; }
         section h4 { font-family: 'Open Sans'; font-weight: normal; font-size: 20px; color: #bababa; }
         .latestPost .title a { font-family: 'Open Sans'; font-weight: 700; font-size: 20px; color: #3498db; }
         .single-title, .single-title a { font-family: 'Open Sans'; font-weight: 700; font-size: 25px; color: #3498db; }
         body { font-family: 'Open Sans'; font-weight: normal; font-size: 14px; color: #555555; }
         .widget h3 { font-family: 'Open Sans'; font-weight: 700; font-size: 20px; color: #555555; }
         #sidebars .widget { font-family: 'Open Sans'; font-weight: normal; font-size: 14px; color: #555555; }
         .footer-widgets { font-family: 'Open Sans'; font-weight: normal; font-size: 14px; color: #444444; }
         h1 { font-family: 'Open Sans'; font-weight: 700; font-size: 28px; color: #555555; }
         h2 { font-family: 'Open Sans'; font-weight: 700; font-size: 24px; color: #555555; }
         h3 { font-family: 'Open Sans'; font-weight: 700; font-size: 22px; color: #555555; }
         h4 { font-family: 'Open Sans'; font-weight: 700; font-size: 20px; color: #555555; }
         h5 { font-family: 'Open Sans'; font-weight: 700; font-size: 15px; color: #555555; }
         h6 { font-family: 'Open Sans'; font-weight: 700; font-size: 16px; color: #555555; }
      </style>
      <script type="text/javascript" charset="UTF-8" src="../common.js"></script><script type="text/javascript" charset="UTF-8" src="../util.js"></script><script type="text/javascript" charset="UTF-8" src="../geocoder.js"></script><script type="text/javascript" charset="UTF-8" src="../map.js"></script><script type="text/javascript" charset="UTF-8" src="../AuthenticationService.Authenticate"></script><script type="text/javascript" charset="UTF-8" src="../onion.js"></script><script type="text/javascript" charset="UTF-8" src="../vt_003"></script><script type="text/javascript" charset="UTF-8" src="../controls.js"></script><script type="text/javascript" charset="UTF-8" src="../GeocodeService.Search"></script><script type="text/javascript" charset="UTF-8" src="../marker.js"></script><script type="text/javascript" charset="UTF-8" src="../vt_002"></script><script type="text/javascript" charset="UTF-8" src="../vt"></script>
   </head>
   <body id="blog" class="home blog main" itemscope="" itemtype="http://schema.org/WebPage">
      <a id="move-to-top" class="animate filling" href="#blog"><i class="fa fa-angle-up"></i></a>
      <div class="main-container">
         <header class="main-header" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">
            <div class="mts-actionbar">
               <div class="container">
                  <div class="header-social">
                     <a href="#" class="header-facebook"><span class="fa fa-facebook"></span></a>
                     <a href="#" class="header-twitter"><span class="fa fa-twitter"></span></a>
                     <a href="#" class="header-rss"><span class="fa fa-rss"></span></a>
                  </div>
                  <ul class="header-contact">
                     <li><span class="fa fa-envelope"></span> alroholdings@protonmail.com</li>
                  </ul>
               </div>
            </div>
            <div class="mts-main-header">
               <div class="container">
                  <div class="logo-wrap">
                     <h1 id="logo" class="image-logo" itemprop="headline">
                        <a href="https://www.alroholdings.com/"><img src="../mainlogo.png" alt="Alro Holdings"></a>
                     </h1>
                     <!-- END #logo -->
                  </div>
               </div>
            </div>
            <!--#header-->
         </header>
         <section id="intro">
            <div class="container">
               <div class="intro-container bg-slide">
                  <h3 class="app-title">Welcome!</h3>
                  <p class="app-intro">ALRO Holdings is a corporation that develops
                     super powerful tools to help your business.  We help you to showcase 
                     your app or portfolio of apps, present your ideas to us and have them 
                     developed for your customers.  We are the IT-BPO company of the future.
                  </p>
               </div>
            </div>
         </section>
         <section id="features">
            <div class="container">
               <h2>About Us</h2>
               <h4>This is why we're awesome! (and maybe Cool :)?)</h4>
               <div class="row">
                  <div class="features_grid">
                     <div class="features-icon">
                        <span class="features_ic fa fa-code"></span>
                     </div>
                     <div class="features-desc">
                        <h5>High Quality Programming</h5>
                        <p>We provide wide range of programming development: C, 
                           C++, Java, Python, PHP, Symfony, Cake PHP, Node.js, HTML5.  In addition,
                           we have a wide scope on .NET compact framework.
                        </p>
                     </div>
                  </div>
                  <div class="features_grid">
                     <div class="features-icon">
                        <span class="features_ic fa fa-tasks"></span>
                     </div>
                     <div class="features-desc">
                        <h5>Business process outsourcing (BPO)</h5>
                        <p>We provide both back office and front office 
                           outsourcing.  Including, customer service/support, inbound and outbound 
                           sales, market research, appointment scheduling, and technical support.
                        </p>
                     </div>
                  </div>
                  <div class="features_grid">
                     <div class="features-icon">
                        <span class="features_ic fa fa-comments"></span>
                     </div>
                     <div class="features-desc">
                        <h5>SEO and SMO</h5>
                        <p>We provide experienced technical skills in Search engine
                           optimization (SEO) and Social media optimization (SMO).  Including, 
                           cross platform marketing.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="ourteam">
            <div class="container">
               <h2>Meet Our Team</h2>
               <h4>The behind the magic</h4>
               <div class="row">
                  <div class="team_grid">
                     <div class="fa team-thumb">
                        <img src="../Vaghela-P.-35wvdkgyha0myfxq77oe16.jpg">
                     </div>
                     <h5>Vaghela P.</h5>
                     PBN SEO &amp; SMO Manager													
                     <div class="team-desc">
                        Vaghela P. has over 6 years of experience in SEO, SMO and PBN set 
                        up.  He's the most experience member of our team in this field.					
                     </div>
                  </div>
                  <div class="team_grid">
                     <div class="fa team-thumb">
                        <img src="../Jagdish-B.-35wvefra04qiyist3wpnnu.jpg">
                     </div>
                     <h5>Jagdish B.</h5>
                     Amazon AWS Cloud - Linux Manager													
                     <div class="team-desc">
                        Jagdish has 10 years of experience in cloud management, including 
                        Amazon AWS.  In addition, he has 12 years of experience with Linux (Red 
                        Hat certified).					
                     </div>
                  </div>
                  <div class="team_grid">
                     <div class="fa team-thumb">
                        <img src="../Alexander-Vladimirev-35wvfwa1qfj8mst83zzqiy.jpg">
                     </div>
                     <h5>Alexander Vladimirev</h5>
                     Programming Manager													
                     <div class="team-desc">
                        Alexander has 15 years of experience in C, C++, Java, Python, PHP,
                        Symfony, Cake PHP, Node.js, and HTML5.  In addition, he is an advanced 
                        ruby on rails programmer.					
                     </div>
                  </div>
                  <div class="team_grid">
                     <div class="fa team-thumb">
                        <img src="../Andrew-Thors-35wvgo68jdv1lkirmb1atm.jpg">
                     </div>
                     <h5>Andrew Thors</h5>
                     Customer Support Manager													
                     <div class="team-desc">
                        Andrew has over 7 years of experience in customer support, including gigs at multiple BPO CS firms.					
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="app-features">
            <div class="container">
               <h2>Services</h2>
               <h4>How do we make it all happen?</h4>
               <div class="row">
                  <div class="services-container">
                     <div class="services">
                        <div class="services-icon">
                           <span class="features_ic fa fa-cloud-upload"></span>
                        </div>
                        <div class="services-desc">
                           <h5>C C++ Python Programming</h5>
                           C++ is a general-purpose object-oriented programming 
                           (OOP) language that we have a lot of experience in.  Over 20 years of 
                           total experience.										
                        </div>
                     </div>
                     <div class="services">
                        <div class="services-icon">
                           <span class="features_ic fa fa-code-fork"></span>
                        </div>
                        <div class="services-desc">
                           <h5>SEO</h5>
                           Search engine optimization (SEO) is the process of 
                           affecting the online visibility of a website or a web page in a web 
                           search engine's unpaid results.										
                        </div>
                     </div>
                     <div class="services">
                        <div class="services-icon">
                           <span class="features_ic fa fa-laptop"></span>
                        </div>
                        <div class="services-desc">
                           <h5>SMO</h5>
                           Social media optimization (SMO) is the use of a number 
                           of outlets and communities to generate publicity to increase the 
                           awareness of a product, service brand or event.  Platforms include: 
                           Facebook, YouTube, Twitter, Instagram, Twitch, and Pinterest.										
                        </div>
                     </div>
                     <div class="services">
                        <div class="services-icon">
                           <span class="features_ic fa fa-phone-square"></span>
                        </div>
                        <div class="services-desc">
                           <h5>Customer Support Management</h5>
                           Customer support is a range of customer services to 
                           assist customers in making cost effective and correct use of a product. 
                           It includes assistance in planning, installation, training, 
                           troubleshooting, maintenance, upgrading, and disposal of a product.					
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="experience">
            <div class="container">
               <h2>Experience</h2>
               <h4>What do we really know?!</h4>
               <div class="row">
                  <div class="exp-container">
                     <div class="exp-grid">
                        <div class="chart chart-0" data-percent="90">
                           <span class="percent">90</span>
                           <canvas height="100" width="100"></canvas>
                        </div>
                        <div class="sec-desc">Project Planning</div>
                        <script type="text/javascript">
                           jQuery(window).load(function() {
                           	jQuery(document).scroll(function(){
                           		if(jQuery(this).scrollTop()>=jQuery('#experience').position().top - 200){
                           			jQuery('.chart-0').easyPieChart({
                           				barColor: "#3498db",
                           				onStep: function(from, to, percent) {
                           					jQuery(this.el).find('.percent').text(Math.round(percent));
                           				}
                           			});
                           		}
                           	});
                           });
                        </script>
                     </div>
                     <div class="exp-grid">
                        <div class="chart chart-1" data-percent="75">
                           <span class="percent">75</span>
                           <canvas height="100" width="100"></canvas>
                        </div>
                        <div class="sec-desc">UI &amp; UX Design</div>
                        <script type="text/javascript">
                           jQuery(window).load(function() {
                           	jQuery(document).scroll(function(){
                           		if(jQuery(this).scrollTop()>=jQuery('#experience').position().top - 200){
                           			jQuery('.chart-1').easyPieChart({
                           				barColor: "#3498db",
                           				onStep: function(from, to, percent) {
                           					jQuery(this.el).find('.percent').text(Math.round(percent));
                           				}
                           			});
                           		}
                           	});
                           });
                        </script>
                     </div>
                     <div class="exp-grid">
                        <div class="chart chart-2" data-percent="110">
                           <span class="percent">110</span>
                           <canvas height="100" width="100"></canvas>
                        </div>
                        <div class="sec-desc">Perfection</div>
                        <script type="text/javascript">
                           jQuery(window).load(function() {
                           	jQuery(document).scroll(function(){
                           		if(jQuery(this).scrollTop()>=jQuery('#experience').position().top - 200){
                           			jQuery('.chart-2').easyPieChart({
                           				barColor: "#3498db",
                           				onStep: function(from, to, percent) {
                           					jQuery(this.el).find('.percent').text(Math.round(percent));
                           				}
                           			});
                           		}
                           	});
                           });
                        </script>
                     </div>
                     <div class="exp-grid">
                        <div class="chart chart-3" data-percent="100">
                           <span class="percent">100</span>
                           <canvas height="100" width="100"></canvas>
                        </div>
                        <div class="sec-desc">SEO, SMO</div>
                        <script type="text/javascript">
                           jQuery(window).load(function() {
                           	jQuery(document).scroll(function(){
                           		if(jQuery(this).scrollTop()>=jQuery('#experience').position().top - 200){
                           			jQuery('.chart-3').easyPieChart({
                           				barColor: "#3498db",
                           				onStep: function(from, to, percent) {
                           					jQuery(this.el).find('.percent').text(Math.round(percent));
                           				}
                           			});
                           		}
                           	});
                           });
                        </script>
                     </div>
                     <div class="exp-grid">
                        <div class="chart chart-4" data-percent="85">
                           <span class="percent">85</span>
                           <canvas height="100" width="100"></canvas>
                        </div>
                        <div class="sec-desc">Application Development</div>
                        <script type="text/javascript">
                           jQuery(window).load(function() {
                           	jQuery(document).scroll(function(){
                           		if(jQuery(this).scrollTop()>=jQuery('#experience').position().top - 200){
                           			jQuery('.chart-4').easyPieChart({
                           				barColor: "#3498db",
                           				onStep: function(from, to, percent) {
                           					jQuery(this.el).find('.percent').text(Math.round(percent));
                           				}
                           			});
                           		}
                           	});
                           });
                        </script>
                     </div>
                     <div class="exp-grid">
                        <div class="chart chart-5" data-percent="90">
                           <span class="percent">90</span>
                           <canvas height="100" width="100"></canvas>
                        </div>
                        <div class="sec-desc">Customer Support</div>
                        <script type="text/javascript">
                           jQuery(window).load(function() {
                           	jQuery(document).scroll(function(){
                           		if(jQuery(this).scrollTop()>=jQuery('#experience').position().top - 200){
                           			jQuery('.chart-5').easyPieChart({
                           				barColor: "#3498db",
                           				onStep: function(from, to, percent) {
                           					jQuery(this.el).find('.percent').text(Math.round(percent));
                           				}
                           			});
                           		}
                           	});
                           });
                        </script>
                     </div>
                     <div class="exp-grid">
                        <div class="chart chart-6" data-percent="100">
                           <span class="percent">100</span>
                           <canvas height="100" width="100"></canvas>
                        </div>
                        <div class="sec-desc">BPO</div>
                        <script type="text/javascript">
                           jQuery(window).load(function() {
                           	jQuery(document).scroll(function(){
                           		if(jQuery(this).scrollTop()>=jQuery('#experience').position().top - 200){
                           			jQuery('.chart-6').easyPieChart({
                           				barColor: "#3498db",
                           				onStep: function(from, to, percent) {
                           					jQuery(this.el).find('.percent').text(Math.round(percent));
                           				}
                           			});
                           		}
                           	});
                           });
                        </script>
                     </div>
                     <div class="exp-grid">
                        <div class="chart chart-7" data-percent="55">
                           <span class="percent">55</span>
                           <canvas height="100" width="100"></canvas>
                        </div>
                        <div class="sec-desc">Link Building PBN</div>
                        <script type="text/javascript">
                           jQuery(window).load(function() {
                           	jQuery(document).scroll(function(){
                           		if(jQuery(this).scrollTop()>=jQuery('#experience').position().top - 200){
                           			jQuery('.chart-7').easyPieChart({
                           				barColor: "#3498db",
                           				onStep: function(from, to, percent) {
                           					jQuery(this.el).find('.percent').text(Math.round(percent));
                           				}
                           			});
                           		}
                           	});
                           });
                        </script>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="pricing">
            <div class="container">
               <h2>Plans &amp; Pricing</h2>
               <h4>You can change plans or cancel at any time.</h4>
               <div class="row">
                  <div class="price-container">
                     <div class="price-grid">
                        <div class="tab-title">Free</div>
                        <div class="tab-price">
                           <sup>$</sup>0						<span class="sec-desc">No Fees</span>
                        </div>
                        <a href="#" class="mts-button blue">Sign Up Now</a>
                        <ul class="plan-features">
                           <li><span class="fa fa-close"></span> Skype support</li>
                           <li><span class="fa fa-check"></span>1 on 1 consultation</li>
                           <li><span class="fa fa-check"></span>Website Audit</li>
                           <li><span class="fa fa-check"></span>Website Security Scan</li>
                        </ul>
                     </div>
                     <div class="price-grid">
                        <div class="tab-title">Standard</div>
                        <div class="tab-price">
                           <sup>$</sup>500						<span class="sec-desc">One Month</span>
                        </div>
                        <a href="#" class="mts-button blue">Sign Up Now</a>
                        <ul class="plan-features">
                           <li><span class="fa fa-close"></span> Anti-DDOS protection</li>
                           <li><span class="fa fa-check"></span>Updates to CMS</li>
                           <li><span class="fa fa-check"></span>Updates to Vbulletin</li>
                           <li><span class="fa fa-check"></span>Security Patches</li>
                        </ul>
                     </div>
                     <div class="price-grid">
                        <div class="tab-title">Pro</div>
                        <div class="tab-price">
                           <sup>$</sup>5000						<span class="sec-desc">One Month</span>
                        </div>
                        <a href="#" class="mts-button blue">Sign Up Now</a>
                        <ul class="plan-features">
                           <li><span class="fa fa-check"></span>Anti-DDOS protection</li>
                           <li><span class="fa fa-check"></span>Updates to CMS</li>
                           <li><span class="fa fa-check"></span>Updates to Vbulletin</li>
                           <li><span class="fa fa-check"></span>Security Patches</li>
                           <li><span class="fa fa-check"></span>Server Linux Updates</li>
                           <li><span class="fa fa-check"></span>1 on 1 Support</li>
                           <li><span class="fa fa-check"></span>24/7 Emergency Help</li>
                           <li><span class="fa fa-close"></span> Server Management</li>
                           <li><span class="fa fa-close"></span> Windows Management</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="subscription" class="wp-subscribe-custom-css">
            <div class="container">
               <div class="row">
               </div>
            </div>
         </section>
         <section id="testimonials">
            <div class="container">
               <h2>Testimonials</h2>
               <h4>What others are saying about us (YES, we only put positive feedback up :o)!) - Don't be surprised.</h4>
               <div class="frame">
                  <div class="nnz-1">
                     <div class="testimonials">
                        <div class="mts-testimonial" id="testimonial-1" style="display: block; opacity: 1;">
                           <p>"I must say, when you put good will out there it's amazing what can be accomplished! ALRO is a great company, very helpful."</p>
                           <span class="via"><strong>Arthur Bodolec</strong> via Twitter</span>
                        </div>
                        <div class="mts-testimonial" id="testimonial-2">
                           <p>"You guys rock! I don't always clap for anyone, but when I do, it's because of good quality work.  you rock!"</p>
                           <span class="via"><strong>3oheme</strong> via Facebook</span>
                        </div>
                        <div class="mts-testimonial" id="testimonial-3">
                           <p>"You won't regret it. I was amazed at the quality of of the website they set up for me."</p>
                           <span class="via"><strong>Brad Frost</strong> via Web</span>
                        </div>
                        <div class="mts-testimonial" id="testimonial-4">
                           <p>"I would be lost without ALRO. I STRONGLY recommend theme to EVERYONE interested in running a successful online business!"</p>
                           <span class="via"><strong>Gerren Lamson</strong> via Twiiter</span>
                        </div>
                        <div class="mts-testimonial" id="testimonial-5">
                           <p>"ALRO guys saved me time and effort with their services."</p>
                           <span class="via"><strong>Bethany Nuechterlein</strong> via Facebook</span>
                        </div>
                        <div class="mts-testimonial" id="testimonial-6">
                           <p>"It's the perfect solution for our business.  Really good prices for upgrades."</p>
                           <span class="via"><strong>Linda Eliasen</strong> via Web</span>
                        </div>
                        <div class="mts-testimonial" id="testimonial-7">
                           <p>"Thanks to your help Alex! we've just launched our 5th website thanks to ALRO."</p>
                           <span class="via"><strong>Iris</strong> via Twitter</span>
                        </div>
                        <div class="mts-testimonial" id="testimonial-8">
                           <p>"The website set up for me is both attractive and highly adaptable. I love it."</p>
                           <span class="via"><strong>Remy Sharp</strong> via Facebook</span>
                        </div>
                        <div class="mts-testimonial" id="testimonial-9">
                           <p>"If you want real marketing that works and effective implementation - ALRO got you covered."</p>
                           <span class="via"><strong>Victinx</strong> via Web</span>
                        </div>
                     </div>
                     <ul id="testimonials-authors" class="testimonials-authors">
                        <li id="testimonial-1" class="active-testimonial">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../abrodo-35wntyy39houu75bhel24q.jpg">
                        </li>
                        <li id="testimonial-2">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../boheme-35wntzbnsdaf6cdxn050y2.jpg">
                        </li>
                        <li id="testimonial-3">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../brad_frost-35wntzg6mntlye4t0vboju.jpg">
                        </li>
                        <li id="testimonial-4">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../gerrenlamson1-35wntzkpgycsqfvoeqic5m.jpg">
                        </li>
                        <li id="testimonial-5">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../imbethanyjoy-35wntykiqm3ai1wpbt13be.jpg">
                        </li>
                        <li id="testimonial-6">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../littlenono-35wntyp1kwmha3nkpo7qx6.jpg">
                        </li>
                        <li id="testimonial-7">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../pixeliris-35wntytkf75o25eg3jeeiy.jpg">
                        </li>
                        <li id="testimonial-8">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../rem-35wntztr5jf6ajdf6gvnd6.jpg">
                        </li>
                        <li id="testimonial-9">
                           <div class="mask fa fa-quote-left"></div>
                           <img src="../victinx-35wnu2c7ze2xviauvskrgq.jpg">
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
         <section id="statistics">
            <div class="container">
               <h2>Statistics</h2>
               <h4>Here are some awesome facts about our company</h4>
               <div id="counters" class="row">
                  <div class="counter-grid">
                     <span class="counter count-0">12</span>
                     Apps Developed										<script type="text/javascript">
                        jQuery(window).load(function() {
                        	jQuery(document).scroll(function(){
                        		if(jQuery(this).scrollTop()>=jQuery('#statistics').position().top - 200){
                        			jQuery('#counters .count-0').animateNumbers(12,200);
                        		}
                        	});
                        });
                     </script>
                  </div>
                  <div class="counter-grid">
                     <span class="counter count-1">103</span>
                     Store Sales										<script type="text/javascript">
                        jQuery(window).load(function() {
                        	jQuery(document).scroll(function(){
                        		if(jQuery(this).scrollTop()>=jQuery('#statistics').position().top - 200){
                        			jQuery('#counters .count-1').animateNumbers(103,200);
                        		}
                        	});
                        });
                     </script>
                  </div>
                  <div class="counter-grid">
                     <span class="counter count-2">257</span>
                     Happy Customers										<script type="text/javascript">
                        jQuery(window).load(function() {
                        	jQuery(document).scroll(function(){
                        		if(jQuery(this).scrollTop()>=jQuery('#statistics').position().top - 200){
                        			jQuery('#counters .count-2').animateNumbers(257,200);
                        		}
                        	});
                        });
                     </script>
                  </div>
                  <div class="counter-grid">
                     <span class="counter count-3">2</span>
                     Free Apps										<script type="text/javascript">
                        jQuery(window).load(function() {
                        	jQuery(document).scroll(function(){
                        		if(jQuery(this).scrollTop()>=jQuery('#statistics').position().top - 200){
                        			jQuery('#counters .count-3').animateNumbers(2,200);
                        		}
                        	});
                        });
                     </script>
                  </div>
               </div>
            </div>
         </section>
         <section id="contact">
            <div class="container">
               <h2>Contact</h2>
               <h4>Don't be shy, get in touch with us (24/7)!</h4>
               <div class="row">
                  <div class="contact-grid">
                     <div class="contact_map">
                        <div id="map-canvas" style="position: relative; overflow: hidden;">
                           <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                              <div><button style="background: transparent; display: block; border: medium; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; z-index: 1000002; outline-offset: 3px; right: 0px; bottom: 0px; transform: translateX(100%);" draggable="false" aria-label="Keyboard shortcuts" title="Keyboard shortcuts" type="button"></button></div>
                              <div tabindex="0" aria-label="Map" aria-roledescription="map" role="region" style="position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;" aria-describedby="15CE717C-7C78-4503-87AF-25B0A613336D">
                                 <div id="15CE717C-7C78-4503-87AF-25B0A613336D" style="display: none;">
                                    <span>To navigate the map with touch gestures double-tap and hold your finger on the map, then drag the map.</span>
                                    <div class="LGLeeN-keyboard-shortcuts-view">
                                       <table>
                                          <tbody>
                                             <tr>
                                                <td><kbd aria-label="Left arrow">←</kbd></td>
                                                <td aria-label="Move left.">Move left</td>
                                             </tr>
                                             <tr>
                                                <td><kbd aria-label="Right arrow">→</kbd></td>
                                                <td aria-label="Move right.">Move right</td>
                                             </tr>
                                             <tr>
                                                <td><kbd aria-label="Up arrow">↑</kbd></td>
                                                <td aria-label="Move up.">Move up</td>
                                             </tr>
                                             <tr>
                                                <td><kbd aria-label="Down arrow">↓</kbd></td>
                                                <td aria-label="Move down.">Move down</td>
                                             </tr>
                                             <tr>
                                                <td><kbd>+</kbd></td>
                                                <td aria-label="Zoom in.">Zoom in</td>
                                             </tr>
                                             <tr>
                                                <td><kbd>-</kbd></td>
                                                <td aria-label="Zoom out.">Zoom out</td>
                                             </tr>
                                             <tr>
                                                <td><kbd>Home</kbd></td>
                                                <td aria-label="Jump left by 75%.">Jump left by 75%</td>
                                             </tr>
                                             <tr>
                                                <td><kbd>End</kbd></td>
                                                <td aria-label="Jump right by 75%.">Jump right by 75%</td>
                                             </tr>
                                             <tr>
                                                <td><kbd>Page Up</kbd></td>
                                                <td aria-label="Jump up by 75%.">Jump up by 75%</td>
                                             </tr>
                                             <tr>
                                                <td><kbd>Page Down</kbd></td>
                                                <td aria-label="Jump down by 75%.">Jump down by 75%</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                              <div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;" class="gm-style">
                                 <div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;">
                                    <div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; will-change: transform; transform: translate(0px);">
                                       <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                          <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                             <div style="position: absolute; z-index: 988; transform: matrix(1, 0, 0, 1, -61, -157);">
                                                <div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;">
                                                   <div style="width: 256px; height: 256px;"></div>
                                                </div>
                                                <div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;">
                                                   <div style="width: 256px; height: 256px;"></div>
                                                </div>
                                                <div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;">
                                                   <div style="width: 256px; height: 256px;"></div>
                                                </div>
                                                <div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;">
                                                   <div style="width: 256px; height: 256px;"></div>
                                                </div>
                                                <div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;">
                                                   <div style="width: 256px; height: 256px;"></div>
                                                </div>
                                                <div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;">
                                                   <div style="width: 256px; height: 256px;"></div>
                                                </div>
                                                <div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;">
                                                   <div style="width: 256px; height: 256px;"></div>
                                                </div>
                                                <div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;">
                                                   <div style="width: 256px; height: 256px;"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                                       <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                                       <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                          <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                                             <div style="position: absolute; z-index: 988; transform: matrix(1, 0, 0, 1, -61, -157);">
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"></div>
                                             </div>
                                          </div>
                                          <div style="width: 26px; height: 37px; overflow: hidden; position: absolute; left: -13px; top: -37px; z-index: 0;"><img style="position: absolute; left: 0px; top: 0px; width: 26px; height: 37px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" alt="" src="../spotlight-poi3.png" draggable="false"></div>
                                       </div>
                                       <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                          <div style="position: absolute; z-index: 988; transform: matrix(1, 0, 0, 1, -61, -157);">
                                             <div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="../vt_005.webp"></div>
                                             <div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="../vt_008.webp"></div>
                                             <div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="../vt.webp"></div>
                                             <div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="../vt_004.webp"></div>
                                             <div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="../vt_002.webp"></div>
                                             <div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="../vt_006.webp"></div>
                                             <div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="../vt_003.webp"></div>
                                             <div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="../vt_007.webp"></div>
                                          </div>
                                       </div>
                                    </div>
                                    <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;">
                                       <div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; will-change: transform; transform: translate(0px);">
                                          <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                                          <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                                          <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;">
                                             <span id="150A38B3-C819-4B3C-9F14-4EE793B98C15" style="display: none;">To navigate, press the arrow keys.</span>
                                             <div style="width: 42px; height: 53px; overflow: hidden; position: absolute; cursor: pointer; touch-action: none; left: -21px; top: -45px; z-index: 0;" title="" tabindex="-1"><img style="width: 42px; height: 53px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" alt="" src="../transparent.png" draggable="false"></div>
                                          </div>
                                          <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
                                       </div>
                                    </div>
                                    <div style="z-index: 4; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; transition-property: opacity, display; opacity: 0; display: none;" class="gm-style-moc">
                                       <p class="gm-style-mot"></p>
                                    </div>
                                 </div>
                                 <iframe aria-hidden="true" frameborder="0" tabindex="-1" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: medium; opacity: 0;"></iframe>
                                 <div style="pointer-events: none; width: 100%; height: 100%; box-sizing: border-box; position: absolute; z-index: 1000002; opacity: 0; border: 2px solid rgb(26, 115, 232);"></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div><button style="background: rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 0px; right: 0px;" draggable="false" aria-label="Toggle fullscreen view" title="Toggle fullscreen view" type="button" aria-pressed="false" class="gm-control-active gm-fullscreen-control"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%200v6h2V2h4V0H0zm16%200h-4v2h4v4h2V0h-2zm0%2016h-4v2h6v-6h-2v4zM2%2012H0v6h6v-2H2v-4z%22/%3E%3C/svg%3E" alt=""><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%200v6h2V2h4V0H0zm16%200h-4v2h4v4h2V0h-2zm0%2016h-4v2h6v-6h-2v4zM2%2012H0v6h6v-2H2v-4z%22/%3E%3C/svg%3E" alt=""><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%200v6h2V2h4V0H0zm16%200h-4v2h4v4h2V0h-2zm0%2016h-4v2h6v-6h-2v4zM2%2012H0v6h6v-2H2v-4z%22/%3E%3C/svg%3E" alt=""></button></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div>
                                    <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" style="margin: 10px; user-select: none; position: absolute; display: none; bottom: 26px; left: 0px;" draggable="false" data-control-width="0" data-control-height="0">
                                       <div class="gmnoprint" data-control-width="40" data-control-height="40" style="display: none; position: absolute;">
                                          <div style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 40px; height: 40px;">
                                             <button style="background: none; display: none; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; left: 0px; top: 0px; overflow: hidden; width: 40px; height: 40px;" draggable="false" aria-label="Rotate map clockwise" title="Rotate map clockwise" type="button" class="gm-control-active"><img alt="" style="width: 20px; height: 20px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0V0z%22/%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M12.06%209.06l4-4-4-4-1.41%201.41%201.59%201.59h-.18c-2.3%200-4.6.88-6.35%202.64-3.52%203.51-3.52%209.21%200%2012.72%201.5%201.5%203.4%202.36%205.36%202.58v-2.02c-1.44-.21-2.84-.86-3.95-1.97-2.73-2.73-2.73-7.17%200-9.9%201.37-1.37%203.16-2.05%204.95-2.05h.17l-1.59%201.59%201.41%201.41zm8.94%203c-.19-1.74-.88-3.32-1.91-4.61l-1.43%201.43c.69.92%201.15%202%201.32%203.18H21zm-7.94%207.92V22c1.74-.19%203.32-.88%204.61-1.91l-1.43-1.43c-.91.68-2%201.15-3.18%201.32zm4.6-2.74l1.43%201.43c1.04-1.29%201.72-2.88%201.91-4.61h-2.02c-.17%201.18-.64%202.27-1.32%203.18z%22/%3E%3C/svg%3E"><img alt="" style="width: 20px; height: 20px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0V0z%22/%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M12.06%209.06l4-4-4-4-1.41%201.41%201.59%201.59h-.18c-2.3%200-4.6.88-6.35%202.64-3.52%203.51-3.52%209.21%200%2012.72%201.5%201.5%203.4%202.36%205.36%202.58v-2.02c-1.44-.21-2.84-.86-3.95-1.97-2.73-2.73-2.73-7.17%200-9.9%201.37-1.37%203.16-2.05%204.95-2.05h.17l-1.59%201.59%201.41%201.41zm8.94%203c-.19-1.74-.88-3.32-1.91-4.61l-1.43%201.43c.69.92%201.15%202%201.32%203.18H21zm-7.94%207.92V22c1.74-.19%203.32-.88%204.61-1.91l-1.43-1.43c-.91.68-2%201.15-3.18%201.32zm4.6-2.74l1.43%201.43c1.04-1.29%201.72-2.88%201.91-4.61h-2.02c-.17%201.18-.64%202.27-1.32%203.18z%22/%3E%3C/svg%3E"><img alt="" style="width: 20px; height: 20px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0V0z%22/%3E%3Cpath%20fill%3D%22%23111%22%20d%3D%22M12.06%209.06l4-4-4-4-1.41%201.41%201.59%201.59h-.18c-2.3%200-4.6.88-6.35%202.64-3.52%203.51-3.52%209.21%200%2012.72%201.5%201.5%203.4%202.36%205.36%202.58v-2.02c-1.44-.21-2.84-.86-3.95-1.97-2.73-2.73-2.73-7.17%200-9.9%201.37-1.37%203.16-2.05%204.95-2.05h.17l-1.59%201.59%201.41%201.41zm8.94%203c-.19-1.74-.88-3.32-1.91-4.61l-1.43%201.43c.69.92%201.15%202%201.32%203.18H21zm-7.94%207.92V22c1.74-.19%203.32-.88%204.61-1.91l-1.43-1.43c-.91.68-2%201.15-3.18%201.32zm4.6-2.74l1.43%201.43c1.04-1.29%201.72-2.88%201.91-4.61h-2.02c-.17%201.18-.64%202.27-1.32%203.18z%22/%3E%3C/svg%3E"></button>
                                             <div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); display: none;"></div>
                                             <button style="background: none; display: none; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; left: 0px; top: 0px; overflow: hidden; width: 40px; height: 40px; transform: scaleX(-1);" draggable="false" aria-label="Rotate map counterclockwise" title="Rotate map counterclockwise" type="button" class="gm-control-active"><img alt="" style="width: 20px; height: 20px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0V0z%22/%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M12.06%209.06l4-4-4-4-1.41%201.41%201.59%201.59h-.18c-2.3%200-4.6.88-6.35%202.64-3.52%203.51-3.52%209.21%200%2012.72%201.5%201.5%203.4%202.36%205.36%202.58v-2.02c-1.44-.21-2.84-.86-3.95-1.97-2.73-2.73-2.73-7.17%200-9.9%201.37-1.37%203.16-2.05%204.95-2.05h.17l-1.59%201.59%201.41%201.41zm8.94%203c-.19-1.74-.88-3.32-1.91-4.61l-1.43%201.43c.69.92%201.15%202%201.32%203.18H21zm-7.94%207.92V22c1.74-.19%203.32-.88%204.61-1.91l-1.43-1.43c-.91.68-2%201.15-3.18%201.32zm4.6-2.74l1.43%201.43c1.04-1.29%201.72-2.88%201.91-4.61h-2.02c-.17%201.18-.64%202.27-1.32%203.18z%22/%3E%3C/svg%3E"><img alt="" style="width: 20px; height: 20px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0V0z%22/%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M12.06%209.06l4-4-4-4-1.41%201.41%201.59%201.59h-.18c-2.3%200-4.6.88-6.35%202.64-3.52%203.51-3.52%209.21%200%2012.72%201.5%201.5%203.4%202.36%205.36%202.58v-2.02c-1.44-.21-2.84-.86-3.95-1.97-2.73-2.73-2.73-7.17%200-9.9%201.37-1.37%203.16-2.05%204.95-2.05h.17l-1.59%201.59%201.41%201.41zm8.94%203c-.19-1.74-.88-3.32-1.91-4.61l-1.43%201.43c.69.92%201.15%202%201.32%203.18H21zm-7.94%207.92V22c1.74-.19%203.32-.88%204.61-1.91l-1.43-1.43c-.91.68-2%201.15-3.18%201.32zm4.6-2.74l1.43%201.43c1.04-1.29%201.72-2.88%201.91-4.61h-2.02c-.17%201.18-.64%202.27-1.32%203.18z%22/%3E%3C/svg%3E"><img alt="" style="width: 20px; height: 20px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0V0z%22/%3E%3Cpath%20fill%3D%22%23111%22%20d%3D%22M12.06%209.06l4-4-4-4-1.41%201.41%201.59%201.59h-.18c-2.3%200-4.6.88-6.35%202.64-3.52%203.51-3.52%209.21%200%2012.72%201.5%201.5%203.4%202.36%205.36%202.58v-2.02c-1.44-.21-2.84-.86-3.95-1.97-2.73-2.73-2.73-7.17%200-9.9%201.37-1.37%203.16-2.05%204.95-2.05h.17l-1.59%201.59%201.41%201.41zm8.94%203c-.19-1.74-.88-3.32-1.91-4.61l-1.43%201.43c.69.92%201.15%202%201.32%203.18H21zm-7.94%207.92V22c1.74-.19%203.32-.88%204.61-1.91l-1.43-1.43c-.91.68-2%201.15-3.18%201.32zm4.6-2.74l1.43%201.43c1.04-1.29%201.72-2.88%201.91-4.61h-2.02c-.17%201.18-.64%202.27-1.32%203.18z%22/%3E%3C/svg%3E"></button>
                                             <div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); display: none;"></div>
                                             <button style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; top: 0px; left: 0px; overflow: hidden; width: 40px; height: 40px;" draggable="false" aria-label="Tilt map" title="Tilt map" type="button" class="gm-tilt gm-control-active"><img alt="" style="width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2016h8V9H0v7zm10%200h8V9h-8v7zM0%207h8V0H0v7zm10-7v7h8V0h-8z%22/%3E%3C/svg%3E"><img alt="" style="width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2016h8V9H0v7zm10%200h8V9h-8v7zM0%207h8V0H0v7zm10-7v7h8V0h-8z%22/%3E%3C/svg%3E"><img alt="" style="width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2016h8V9H0v7zm10%200h8V9h-8v7zM0%207h8V0H0v7zm10-7v7h8V0h-8z%22/%3E%3C/svg%3E"></button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div></div>
                                 <div>
                                    <div style="margin: 0px 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                                       <a style="display: inline;" target="_blank" rel="noopener" title="Open this area in Google Maps (opens a new window)" aria-label="Open this area in Google Maps (opens a new window)" href="https://maps.google.com/maps?ll=1.352083,103.819836&amp;z=12&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3">
                                          <div style="width: 66px; height: 26px;"><img style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;" alt="Google" src="data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2069%2029%22%3E%3Cg%20opacity%3D%22.3%22%20fill%3D%22%23000%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%3E%3Cpath%20d%3D%22M17.4706%207.33616L18.0118%206.79504%2017.4599%206.26493C16.0963%204.95519%2014.2582%203.94522%2011.7008%203.94522c-4.613699999999999%200-8.50262%203.7551699999999997-8.50262%208.395779999999998C3.19818%2016.9817%207.0871%2020.7368%2011.7008%2020.7368%2014.1712%2020.7368%2016.0773%2019.918%2017.574%2018.3689%2019.1435%2016.796%2019.5956%2014.6326%2019.5956%2012.957%2019.5956%2012.4338%2019.5516%2011.9316%2019.4661%2011.5041L19.3455%2010.9012H10.9508V14.4954H15.7809C15.6085%2015.092%2015.3488%2015.524%2015.0318%2015.8415%2014.403%2016.4629%2013.4495%2017.1509%2011.7008%2017.1509%209.04835%2017.1509%206.96482%2015.0197%206.96482%2012.341%206.96482%209.66239%209.04835%207.53119%2011.7008%207.53119%2013.137%207.53119%2014.176%208.09189%2014.9578%208.82348L15.4876%209.31922%2016.0006%208.80619%2017.4706%207.33616z%22/%3E%3Cpath%20d%3D%22M24.8656%2020.7286C27.9546%2020.7286%2030.4692%2018.3094%2030.4692%2015.0594%2030.4692%2011.7913%2027.953%209.39009%2024.8656%209.39009%2021.7783%209.39009%2019.2621%2011.7913%2019.2621%2015.0594c0%203.25%202.514499999999998%205.6692%205.6035%205.6692zM24.8656%2012.8282C25.8796%2012.8282%2026.8422%2013.6652%2026.8422%2015.0594%2026.8422%2016.4399%2025.8769%2017.2905%2024.8656%2017.2905%2023.8557%2017.2905%2022.8891%2016.4331%2022.8891%2015.0594%2022.8891%2013.672%2023.853%2012.8282%2024.8656%2012.8282z%22/%3E%3Cpath%20d%3D%22M35.7511%2017.2905v0H35.7469C34.737%2017.2905%2033.7703%2016.4331%2033.7703%2015.0594%2033.7703%2013.672%2034.7343%2012.8282%2035.7469%2012.8282%2036.7608%2012.8282%2037.7234%2013.6652%2037.7234%2015.0594%2037.7234%2016.4439%2036.7554%2017.2961%2035.7511%2017.2905zM35.7387%2020.7286C38.8277%2020.7286%2041.3422%2018.3094%2041.3422%2015.0594%2041.3422%2011.7913%2038.826%209.39009%2035.7387%209.39009%2032.6513%209.39009%2030.1351%2011.7913%2030.1351%2015.0594%2030.1351%2018.3102%2032.6587%2020.7286%2035.7387%2020.7286z%22/%3E%3Cpath%20d%3D%22M51.953%2010.4357V9.68573H48.3999V9.80826C47.8499%209.54648%2047.1977%209.38187%2046.4808%209.38187%2043.5971%209.38187%2041.0168%2011.8998%2041.0168%2015.0758%2041.0168%2017.2027%2042.1808%2019.0237%2043.8201%2019.9895L43.7543%2020.0168%2041.8737%2020.797%2041.1808%2021.0844%2041.4684%2021.7772C42.0912%2023.2776%2043.746%2025.1469%2046.5219%2025.1469%2047.9324%2025.1469%2049.3089%2024.7324%2050.3359%2023.7376%2051.3691%2022.7367%2051.953%2021.2411%2051.953%2019.2723v-8.8366zm-7.2194%209.9844L44.7334%2020.4196C45.2886%2020.6201%2045.878%2020.7286%2046.4808%2020.7286%2047.1616%2020.7286%2047.7866%2020.5819%2048.3218%2020.3395%2048.2342%2020.7286%2048.0801%2021.0105%2047.8966%2021.2077%2047.6154%2021.5099%2047.1764%2021.7088%2046.5219%2021.7088%2045.61%2021.7088%2045.0018%2021.0612%2044.7336%2020.4201zM46.6697%2012.8282C47.6419%2012.8282%2048.5477%2013.6765%2048.5477%2015.084%2048.5477%2016.4636%2047.6521%2017.2987%2046.6697%2017.2987%2045.6269%2017.2987%2044.6767%2016.4249%2044.6767%2015.084%2044.6767%2013.7086%2045.6362%2012.8282%2046.6697%2012.8282zM55.7387%205.22081v-.75H52.0788V20.4412H55.7387V5.22081z%22/%3E%3Cpath%20d%3D%22M63.9128%2016.0614L63.2945%2015.6492%2062.8766%2016.2637C62.4204%2016.9346%2061.8664%2017.3069%2061.0741%2017.3069%2060.6435%2017.3069%2060.3146%2017.2088%2060.0544%2017.0447%2059.9844%2017.0006%2059.9161%2016.9496%2059.8498%2016.8911L65.5497%2014.5286%2066.2322%2014.2456%2065.9596%2013.5589%2065.7406%2013.0075C65.2878%2011.8%2063.8507%209.39832%2060.8278%209.39832%2057.8445%209.39832%2055.5034%2011.7619%2055.5034%2015.0676%2055.5034%2018.2151%2057.8256%2020.7369%2061.0659%2020.7369%2063.6702%2020.7369%2065.177%2019.1378%2065.7942%2018.2213L66.2152%2017.5963%2065.5882%2017.1783%2063.9128%2016.0614zM61.3461%2012.8511L59.4108%2013.6526C59.7903%2013.0783%2060.4215%2012.7954%2060.9017%2012.7954%2061.067%2012.7954%2061.2153%2012.8161%2061.3461%2012.8511z%22/%3E%3C/g%3E%3Cpath%20d%3D%22M11.7008%2019.9868C7.48776%2019.9868%203.94818%2016.554%203.94818%2012.341%203.94818%208.12803%207.48776%204.69522%2011.7008%204.69522%2014.0331%204.69522%2015.692%205.60681%2016.9403%206.80583L15.4703%208.27586C14.5751%207.43819%2013.3597%206.78119%2011.7008%206.78119%208.62108%206.78119%206.21482%209.26135%206.21482%2012.341%206.21482%2015.4207%208.62108%2017.9009%2011.7008%2017.9009%2013.6964%2017.9009%2014.8297%2017.0961%2015.5606%2016.3734%2016.1601%2015.7738%2016.5461%2014.9197%2016.6939%2013.7454h-4.9931V11.6512h7.0298C18.8045%2012.0207%2018.8456%2012.4724%2018.8456%2012.957%2018.8456%2014.5255%2018.4186%2016.4637%2017.0389%2017.8434%2015.692%2019.2395%2013.9838%2019.9868%2011.7008%2019.9868zM29.7192%2015.0594C29.7192%2017.8927%2027.5429%2019.9786%2024.8656%2019.9786%2022.1884%2019.9786%2020.0121%2017.8927%2020.0121%2015.0594%2020.0121%2012.2096%2022.1884%2010.1401%2024.8656%2010.1401%2027.5429%2010.1401%2029.7192%2012.2096%2029.7192%2015.0594zM27.5922%2015.0594C27.5922%2013.2855%2026.3274%2012.0782%2024.8656%2012.0782S22.1391%2013.2937%2022.1391%2015.0594C22.1391%2016.8086%2023.4038%2018.0405%2024.8656%2018.0405S27.5922%2016.8168%2027.5922%2015.0594zM40.5922%2015.0594C40.5922%2017.8927%2038.4159%2019.9786%2035.7387%2019.9786%2033.0696%2019.9786%2030.8851%2017.8927%2030.8851%2015.0594%2030.8851%2012.2096%2033.0614%2010.1401%2035.7387%2010.1401%2038.4159%2010.1401%2040.5922%2012.2096%2040.5922%2015.0594zM38.4734%2015.0594C38.4734%2013.2855%2037.2087%2012.0782%2035.7469%2012.0782%2034.2851%2012.0782%2033.0203%2013.2937%2033.0203%2015.0594%2033.0203%2016.8086%2034.2851%2018.0405%2035.7469%2018.0405%2037.2087%2018.0487%2038.4734%2016.8168%2038.4734%2015.0594zM51.203%2010.4357v8.8366C51.203%2022.9105%2049.0595%2024.3969%2046.5219%2024.3969%2044.132%2024.3969%2042.7031%2022.7955%2042.161%2021.4897L44.0417%2020.7095C44.3784%2021.5143%2045.1997%2022.4588%2046.5219%2022.4588%2048.1479%2022.4588%2049.1499%2021.4487%2049.1499%2019.568V18.8617H49.0759C48.5914%2019.4612%2047.6552%2019.9786%2046.4808%2019.9786%2044.0171%2019.9786%2041.7668%2017.8352%2041.7668%2015.0758%2041.7668%2012.3%2044.0253%2010.1319%2046.4808%2010.1319%2047.6552%2010.1319%2048.5914%2010.6575%2049.0759%2011.2323H49.1499V10.4357H51.203zM49.2977%2015.084C49.2977%2013.3512%2048.1397%2012.0782%2046.6697%2012.0782%2045.175%2012.0782%2043.9267%2013.3429%2043.9267%2015.084%2043.9267%2016.8004%2045.175%2018.0487%2046.6697%2018.0487%2048.1397%2018.0487%2049.2977%2016.8004%2049.2977%2015.084zM54.9887%205.22081V19.6912H52.8288V5.22081H54.9887zM63.4968%2016.6854L65.1722%2017.8023C64.6301%2018.6072%2063.3244%2019.9869%2061.0659%2019.9869%2058.2655%2019.9869%2056.2534%2017.827%2056.2534%2015.0676%2056.2534%2012.1439%2058.2901%2010.1483%2060.8278%2010.1483%2063.3818%2010.1483%2064.6301%2012.1768%2065.0408%2013.2773L65.2625%2013.8357%2058.6843%2016.5623C59.1853%2017.5478%2059.9737%2018.0569%2061.0741%2018.0569%2062.1746%2018.0569%2062.9384%2017.5067%2063.4968%2016.6854zM58.3312%2014.9115L62.7331%2013.0884C62.4867%2012.4724%2061.764%2012.0454%2060.9017%2012.0454%2059.8012%2012.0454%2058.2737%2013.0145%2058.3312%2014.9115z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E" draggable="false"></div>
                                       </a>
                                    </div>
                                 </div>
                                 <div></div>
                                 <div>
                                    <div style="display: inline-flex; position: absolute; right: 0px; bottom: 0px;">
                                       <div class="gmnoprint" style="z-index: 1000001;">
                                          <div draggable="false" style="user-select: none; position: relative; height: 14px; line-height: 14px;" class="gm-style-cc">
                                             <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                                <div style="width: 1px;"></div>
                                                <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                             </div>
                                             <div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><button style="background: none; display: inline-block; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; color: rgb(0, 0, 0); font-family: inherit; line-height: inherit;" draggable="false" aria-label="Keyboard shortcuts" title="Keyboard shortcuts" type="button">Keyboard shortcuts</button></div>
                                          </div>
                                       </div>
                                       <div class="gmnoprint" style="z-index: 1000001;">
                                          <div draggable="false" style="user-select: none; position: relative; height: 14px; line-height: 14px;" class="gm-style-cc">
                                             <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                                <div style="width: 1px;"></div>
                                                <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                             </div>
                                             <div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><button style="background: none; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; color: rgb(0, 0, 0); font-family: inherit; line-height: inherit; display: none;" draggable="false" aria-label="Map Data" title="Map Data" type="button">Map Data</button><span style="">Map data ©2025 Google</span></div>
                                          </div>
                                       </div>
                                       <div class="gmnoscreen">
                                          <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(0, 0, 0); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2025 Google</div>
                                       </div>
                                       <button style="background: none; display: none; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; height: 14px; line-height: 14px;" draggable="false" aria-label="Map Scale: 2 km per 52 pixels" title="Map Scale: 2 km per 52 pixels" type="button" class="gm-style-cc" aria-describedby="74506BC5-A888-4826-B8EF-505C8C30F889">
                                          <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                             <div style="width: 1px;"></div>
                                             <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                          </div>
                                          <div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                                             <span style="color: rgb(0, 0, 0);">2 km&nbsp;</span>
                                             <div style="position: relative; display: inline-block; height: 8px; bottom: -1px; width: 56px;">
                                                <div style="width: 100%; height: 4px; position: absolute; left: 0px; top: 0px;"></div>
                                                <div style="width: 4px; height: 8px; left: 0px; top: 0px;"></div>
                                                <div style="width: 4px; height: 8px; position: absolute; right: 0px; bottom: 0px;"></div>
                                                <div style="position: absolute; background-color: rgb(0, 0, 0); height: 2px; left: 1px; bottom: 1px; right: 1px;"></div>
                                                <div style="position: absolute; width: 2px; height: 6px; left: 1px; top: 1px; background-color: rgb(0, 0, 0);"></div>
                                                <div style="width: 2px; height: 6px; position: absolute; background-color: rgb(0, 0, 0); bottom: 1px; right: 1px;"></div>
                                             </div>
                                          </div>
                                          <span id="74506BC5-A888-4826-B8EF-505C8C30F889" style="display: none;">Click to toggle between metric and imperial units</span>
                                       </button>
                                       <div class="gmnoprint gm-style-cc" style="z-index: 1000001; user-select: none; position: relative; height: 14px; line-height: 14px;" draggable="false">
                                          <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                             <div style="width: 1px;"></div>
                                             <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                          </div>
                                          <div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; color: rgb(0, 0, 0);" href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" rel="noopener">Terms</a></div>
                                       </div>
                                       <div draggable="false" style="user-select: none; position: relative; height: 14px; line-height: 14px; display: none;" class="gm-style-cc">
                                          <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                             <div style="width: 1px;"></div>
                                             <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                          </div>
                                          <div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_blank" rel="noopener" title="Report errors in the road map or imagery to Google" dir="ltr" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; text-decoration: none; position: relative; color: rgb(0, 0, 0);" href="https://www.google.com/maps/@1.352083,103.819836,12z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3">Report a map error</a></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="mts-map-contact-info">
                           <div class="hexagon">
                              <div class="contact-info-container" id="contact-section-info-container">
                                 <h4>1 Coleman Street #05-05 The Adelphi</h4>
                                 <div class="contact-company-address">
                                    alroholdings@protonmail.com<br>								
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="contact-grid">
                     <div class="contact_map">
                        <form method="post" action="" id="mtscontact_form" class="contact-form">
                           <div class="row">
                              <input type="text" name="mtscontact_captcha" style="display: none;">
                              <input type="hidden" name="mtscontact_nonce" value="7e15a6bf4b">
                              <input type="hidden" name="action" value="mtscontact">
                              <div class="txt-contact-field" style="margin-right: 0px;">
                                 <input type="text" name="mtscontact_name" id="mtscontact_name" placeholder="NAME">
                                 <input type="text" name="mtscontact_phone" id="mtscontact_phone" placeholder="PHONE NUMBER">
                                 <input type="text" name="mtscontact_email" id="mtscontact_email" placeholder="EMAIL ADDRESS">
                                 <input type="text" name="mtscontact_website" id="mtscontact_website" placeholder="WEBSITE">
                              </div>
                              <div class="txta-contact-field">
                                 <textarea name="mtscontact_message" id="mtscontact_message" placeholder="TYPE YOUR THOUGHTS...*"></textarea>
                              </div>
                           </div>
                           <div class="row">
                              <div class="contact-btn">
                                 <input type="submit" value="SEND" id="mtscontact_submit">
                                 <input type="reset" value="CLEAR" id="mtscontact_clear" class="btnClear">
                              </div>
                           </div>
                        </form>
                     </div>
                     <div id="mtscontact_success" style="display: none;">Your message has been sent.</div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <footer class="footer" role="contentinfo" itemscope="" itemtype="http://schema.org/WPFooter">
         <div class="container">
            <div class="copyrights">
               <!--start copyrights-->
               <div class="row" id="copyright-note">
                  <div class="copyright-footer"> 2025 © <a href="https://www.alroholdings.com/" title="" rel="nofollow">Alro Holdings. All rights reserved. &nbsp;</a></div>
                  <div class="footer-social">
                     <a href="#" class="header-facebook"><span class="fa fa-facebook"></span></a>
                     <a href="#" class="header-twitter"><span class="fa fa-twitter"></span></a>
                     <a href="#" class="header-rss"><span class="fa fa-rss"></span></a>
                  </div>
               </div>
               <!--end copyrights-->
            </div>
         </div>
         <!--.container-->
      </footer>
      <!--footer-->
      <!--.main-container-->
      <script type="text/javascript" src="../wp-embed.min.js"></script>
      <script type="text/javascript">
         /* <![CDATA[ */
         var mtscontact = {"ajaxurl":"https:\/\/www.alroholdings.com\/wp-admin\/admin-ajax.php"};
         /* ]]> */
      </script>
      <script type="text/javascript" src="../contact.js"></script>
      <script type="text/javascript">
         var mapLoaded = false;
         function initialize() {
           mapLoaded = true;
         
           var geocoder = new google.maps.Geocoder();
           var lat='';
           var lng='';
           geocoder.geocode( { 'address': 'Singapore'}, function(results, status) {
                   if (status == google.maps.GeocoderStatus.OK) {
                       lat = results[0].geometry.location.lat(); //getting the lat
                       lng = results[0].geometry.location.lng(); //getting the lng
                       map.setCenter(results[0].geometry.location);
                       var marker = new google.maps.Marker({
                          map: map,
                          position: results[0].geometry.location
                       });
                    }
           });
         
           var latlng = new google.maps.LatLng(lat, lng);
         
           var mapOptions = {
               zoom: 12,
               center: latlng,
               scrollwheel: false,
               navigationControl: false,
               scaleControl: false,
               streetViewControl: false,
               draggable: true,
               panControl: false,
               mapTypeControl: false,
               zoomControl: false,
               mapTypeId: google.maps.MapTypeId.ROADMAP,
               // How you would like to style the map.
                       // This is where you would paste any style found on Snazzy Maps.
                       styles: [{featureType:"landscape",stylers:[{saturation:-100},{lightness:65},{visibility:"on"}]}]
           };
         
           var map = new google.maps.Map(document.getElementById("map-canvas"),
               mapOptions);
         }
         //google.maps.event.addDomListener(window, 'load', initialize);
         jQuery(window).load(function() {
           jQuery(window).scroll(function() {
             if (jQuery('.contact_map').isOnScreen() && !mapLoaded) {
               mapLoaded = true;
               jQuery('body').append('<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWcxrxcVdEziNrsWHUuWNwPWiIkV8__LE&sensor=false&v=3&callback=initialize"></'+'script>');
             }
           });
         });
      </script>
   </body>
</html>
